@import "../global/global.css";

section.register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 40px 20px;
}

section.register .quadro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-branco);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
}

section.register .quadro .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    z-index: 2;
    background-color: var(--cor-branco);
    border-radius: 10px;
    padding: 40px;
}
section.register .quadro .faixa {
    width: 5000px;
    height: 200px;
    background-color: var(--cor-principal);
    position: absolute;
    z-index: 1;
    animation: rodarFaixa 20s linear infinite;
    box-shadow: 0 0 30px var(--cor-principal);
}
section.register .quadro .conteudo h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: var(--cor-principal);
    letter-spacing: 10px;
    margin-top: 1px;
}
section.register .quadro .conteudo p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 8px;
}
section.register .quadro .conteudo label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
    color: var(--cor-cinza);
    width: 100%;
    text-align: left;
    margin: 20px 0 10px 0;
}
section.register .quadro .conteudo label span {
    color: var(--cor-principal);
}

section.register .quadro .conteudo .input {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

section.register .quadro .conteudo .input input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    line-height: 1.5 ;
    color: var(--cor-cinza);
    background-color: var(--cor-cinza-claro);
    width: 100%;
    padding: 20px 20px 20px 45px;
    border-radius: 10px;
}
section.register .quadro .conteudo .input .bolinha {
    width: 15px;
    height: 15px;
    background-color: var(--cor-principal);
    border-radius: 50%;
    position: absolute;
    left: 20px;
    pointer-events: none;
    transition: all 0.3s;
}
section.register .quadro .conteudo .input:hover .bolinha {
    transform: scale(0.8);
    background-color: var(--cor-cinza);
}
section.register .quadro .conteudo .input input::placeholder {
    color: #00000053;
}
section.register .quadro .conteudo button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    width: 100%;
    padding: 15px;
    margin: 20px 0 0 0;
    border-radius: 10px;
    transition: all 0.5s;
    
}
section.register .quadro .conteudo button:hover {
    background-color: var(--cor-cinza);
}

/* responsivo */
@media screen and (max-width: 1000px) {
    section.register .quadro .conteudo {
        padding: 40px 20px;
    }
}

/* funcao para rotacionar a faixa */
@keyframes rodarFaixa {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}